﻿#lbOverlay { position: fixed; top: 0; left: 0; z-index: 99998; width: 100%; height: 500px; }
	#lbOverlay.grey
{
    background-color: #000066;
}
#lbIframe 
{
    border: 0px solid #004b91;
    

    
    
    }
#lbMain { 
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 99999;
    text-align: center;
    line-height: 0;
    top: 2% !important;
}
#lbMain a img { border: none; }
#lbOuterContainer
{
    position: relative;
    background-color: #fff;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
	#lbOuterContainer.grey
{
   border-style: solid solid solid solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 5px;
}
#lbDetailsContainer
{
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    width: 100%;
    line-height: 1.4em;
    overflow: auto;
    margin: 0 auto;
}
#lbl_summary{
    padding:4px!important;
}
	#lbDetailsContainer.grey
{
    border-top: none;
    border-style: none solid solid solid;
    border-width: 2px 2px 2px 2px;
    border-color: #004b91;
}
#lbImageContainer, #lbIframeContainer { padding: 10px; }
#lbLoading {
	position: absolute; top: 45%; left: 0%; height: 80px; width: 100%; text-align: center; line-height: 0; background: url(../images/loadingWheel.gif) center no-repeat;
}
#lbHoverNav { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#lbImageContainer>#lbHoverNav { left: 0; }
#lbHoverNav a { outline: none; }
#lbDetailsData { padding: 0 10px; }
	#lbDetailsData.grey { color: #333333; }
#lbDetails { width: 60%; float: left; text-align: left; }
#lbCaption { display: block; font-weight: bold; }
#lbNumberDisplay { float: left; display: block; padding-bottom: 1.0em; }
#lbNavDisplay { float: left; display: block; padding-bottom: 1.0em; }
#lbClose { width: 25px; height: 15px; float: right; margin-bottom: 1px; }
#lbClose.grey
{
    background: url('../images/close.png') no-repeat;
    height: 30px;
    width: 30px;
    vertical-align: top;
    position: absolute;
    right: 15%;
    top: -14px;
}
	
	