﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterAfterLogin.master" AutoEventWireup="false"
    CodeFile="DomPendingPNRRequest.aspx.vb" Inherits="Reports_HoldPNR_DomPendingPNRRequest" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <%--<link href="../../css/StyleSheet.css" rel="stylesheet" type="text/css" />--%>
    <%--   <link href="../../CSS/main2.css" rel="stylesheet" type="text/css" />--%>
    <%--<link href="Styles/tables.css" rel="stylesheet" type="text/css" />--%>
    <%-- <link href="../../CSS/style.css" rel="stylesheet" type="text/css" />
    <link href="../../CSS/style.css" rel="stylesheet" type="text/css" />--%>

    <script language="javascript" type="text/javascript">
        function Validate() {
            if (document.getElementById("ctl00_ContentPlaceHolder1_txt_Reject").value == "") {

                alert('Please Fill Remark');
                document.getElementById("ctl00_ContentPlaceHolder1_txt_Reject").focus();
                return false;


            }
            if (confirm("Are you sure you want to Reject!"))
                return true;
            return false;
        }
    </script>
    <style type="text/css">

        .accept {
            border-radius: .125rem;
    font-size: 11px;
    font-weight: initial;
    line-height: 1;
    padding: .375rem .5625rem;
    color: #fff;
    background-color: #1bcfb4;
        }

        .refund {
               border-radius: .125rem;
    font-size: 11px;
    font-weight: initial;
    line-height: 1;
    padding: .375rem .5625rem;
    color: #fff;
    background-color: #198ae3;
        }

      
    </style>
    <div class="content-wrapper">




        <div class="card" id="td_Reject" runat="server" visible="false" style="margin-bottom:15px;">
            <div class="card-body">
                <div class="row">
            <div class="col-md-3">
                <div class="form-group">

                 <%--   <label for="exampleInputEmail1">Remark</label>--%>
                    <asp:TextBox ID="txt_Reject" runat="server" placeholder="Remark" TextMode="MultiLine" CssClass="form-control"></asp:TextBox>
                   

                </div>

            </div>
           
              <div class="col-md-3">
                <div class="form-group">
             <asp:Button ID="btn_Comment" runat="server" Text="Comment" OnClientClick="return Validate();"
                        CssClass="btn btn-danger" />
                    </div>
                  </div>
                      <div class="col-md-3">
                <div class="form-group">
                    <asp:Button ID="btn_Cancel" runat="server" Text="Cancel" CssClass="btn btn-danger" />
                    </div>
                          </div>
                    </div>
                </div>
        </div>

        
        <div class="card">
            <div class="card-body" id="divReport">
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../Dashboard.aspx">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Flight</li>
                  <li class="breadcrumb-item active" aria-current="page">Pending PNR</li>
                </ol>
              </nav>
                <div class="table-responsive">

                    <asp:GridView ShowHeaderWhenEmpty="True" EmptyDataText="No records Found" ID="GridHoldPNRAccept" runat="server" AllowPaging="True" AllowSorting="True"
                        AutoGenerateColumns="False" CssClass="table table-hover" ShowHeaderWhenEmpty="True" EmptyDataText="No records Found" GridLines="None" PageSize="10">
                        <Columns>

                            <asp:TemplateField HeaderText="Accept">
                                <ItemTemplate>
                                    <asp:LinkButton ID="ITZ_Accept" runat="server" CssClass="accept" CommandName="Accept" CommandArgument='<%#Eval("OrderId") %>'
                                        Font-Bold="True" Font-Underline="False">Accept</asp:LinkButton>
                                   
                                    <asp:LinkButton ID="LB_Reject" CssClass="refund" runat="server" CommandName="Reject" CommandArgument='<%#Eval("OrderId") %>'
                                        Font-Bold="True" Font-Underline="False">Refund</asp:LinkButton>
                                </ItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Status">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_Status" runat="server" Text='<%#Eval("Status") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Booking Details">
                                <ItemTemplate>
                                    <a href='../Admin/Update_BookingOrder.aspx?OrderId=<%#Eval("OrderId")%> &TransID='
                                        target="_blank"
                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #004b91">Booking&nbsp;Details
                                    </a>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="CreatedDate/Time">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_CreateDate" runat="server" Text='<%#Eval("CreateDate") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="TX ID">
                                <ItemTemplate>
                                    <a id="ancher" href='../PnrSummaryIntl.aspx?OrderId=<%#Eval("OrderId")%>' target="_blank"
                                        style="font-family: arial, Helvetica, sans-serif; font-size: 12px; color: #004b91; font-weight: bold;">
                                        <asp:Label ID="lbl_OrderId" runat="server" Text='<%#Eval("OrderId") %>'></asp:Label>(View)</a>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="AgencyId">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_AgentID" runat="server" Text='<%#Eval("AgencyId")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="AgencyName">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_AgencyName" runat="server" Text='<%#Eval("AgencyName")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="GdsPnr">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_PNR" runat="server" Text='<%#Eval("GdsPnr") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="AirlinePnr">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_AirlinePnr" runat="server" Text='<%#Eval("AirlinePnr")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Sector">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_Sector" runat="server" Text='<%#Eval("sector") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Pax Name">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_PgFName" runat="server" Text='<%#Eval("PgFName") %>'></asp:Label>
                                    <asp:Label ID="lbl_PgLName" runat="server" Text='<%#Eval("PgLName") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Carrier">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_Carrier" runat="server" Text='<%#Eval("VC")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="TripType">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_TripType" runat="server" Text='<%#Eval("TripType") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Trip">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_Trip" runat="server" Text='<%#Eval("Trip") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="BookingAmountGross">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_TotalBookingCost" runat="server" Text='<%#Eval("TotalBookingCost") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="BookingAmountNet">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_TotalAfterDis" runat="server" Text='<%#Eval("TotalAfterDis") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Branch">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_Branch" runat="server" Text='<%#Eval("Branch")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="SalesExecID">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_SalesExecID" runat="server" Text='<%#Eval("SalesExecID")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:BoundField HeaderText="Search ID" DataField="SearchId">
                                <ItemStyle HorizontalAlign="center"></ItemStyle>
                            </asp:BoundField>
                            <asp:BoundField HeaderText="Booking ID" DataField="PNRId">
                                <ItemStyle HorizontalAlign="center"></ItemStyle>
                            </asp:BoundField>
                            <asp:BoundField HeaderText="Ticketing ID" DataField="TicketId">
                                <ItemStyle HorizontalAlign="center"></ItemStyle>
                            </asp:BoundField>
                            <asp:TemplateField HeaderText="TimeSincePending">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_TimeSincePending" runat="server" Text='<%#Eval("TimeSincePending")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Pax Mobile">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_PgMobile" runat="server" Text='<%#Eval("PgMobile") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Pax E-mail">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_PgEmail" runat="server" Text='<%#Eval("PgEmail") %>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Partner Name">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_PartnerName" runat="server" Text='<%#Eval("PartnerName")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>



                            <asp:TemplateField HeaderText="Payment Mode">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_PaymentMode" runat="server" Text='<%# If(Convert.ToString(Eval("PaymentMode")) = "PG", "PG", "Wallet")%>'></asp:Label>
                                    <%--<asp:Label ID="lbl_PgMode" runat="server" Text='<%#Eval("PaymentMode")%>'></asp:Label>--%>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Convenience Fee">
                                <ItemTemplate>
                                    <asp:Label ID="lbl_PGCharges" runat="server" Text='<%#Eval("PgCharges")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="JourneyType">
                                <ItemTemplate>
                                    <asp:Label ID="Lbl_FareType" runat="server" Text='<%#Eval("FareType")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="OutBoundRefNo">
                                <ItemTemplate>
                                    <asp:Label ID="Lbl_OutBoundRefNo" runat="server" Text='<%#Eval("ReferenceNo")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Hand_Bag_Fare">
                                <ItemTemplate>
                                    <asp:Label ID="Lbl_IsBagFare" runat="server" Text='<%#Eval("IsBagFare")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Agency Remark">
                                <ItemTemplate>
                                    <asp:Label ID="lblAgentRemark" runat="server" Text='<%#Eval("GSTRemark")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Staff Remark">
                                <ItemTemplate>
                                    <asp:Label ID="lblStaffRemark" runat="server" Text='<%#Eval("StaffRemarks")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="AgentType">
                                <ItemTemplate>
                                    <asp:Label ID="lblAgentType" runat="server" Text='<%#Eval("Agent_Type")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="MasterAgent">
                                <ItemTemplate>
                                    <asp:Label ID="lblMasterAgent" runat="server" Text='<%#Eval("MasterAgent")%>'></asp:Label>
                                </ItemTemplate>
                            </asp:TemplateField>
                        </Columns>

                    </asp:GridView>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
