﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterAfterLogin.master" AutoEventWireup="false" CodeFile="QCTicketReport.aspx.vb" Inherits="SprReports_Admin_QCTicketReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">


    <link href="<%=ResolveUrl("~/Hotel/css/B2Bhotelengine.css") %>" rel="stylesheet" type="text/css" />
	 <link href="<%=ResolveUrl("~/CSS/PopupStyle.css")%>" rel="stylesheet" type="text/css" />
    <link href="<%=ResolveUrl("~/css/lytebox.css")%>" rel="stylesheet" type="text/css" />
    <link type="text/css" href="<%=ResolveUrl("~/Styles/jquery-ui-1.8.8.custom.css") %>" rel="stylesheet" />
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/jquery-1.4.4.min.js") %>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/gridview-readonly-script.js")%>"></script>
    <script type="text/javascript">
        function fareRuleToolTip(id) {
            $.ajax({
                type: "POST",
                url: "QCTicketReport.aspx/GetFairRule",
                data: '{paxid: "' + id + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    debugger;
                    if (msg.d != "") {
                        $("#ddd").html(msg.d);
                        $("#outerdiv").show();

                    }
                    else {
                        alert("Fare Rule Not Available")
                    }
                },
                Error: function (x, e) {
                    alert("error")
                }
            });
        }
    </script>

    <style type="text/css">
        .overfl {
            overflow: auto;
        }

        .tooltip1 {
            position: relative;
        }

        .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltip1:hover .tooltiptext {
            visibility: visible;
        }

        .popupnew2 {
            position: absolute;
            top: 10px;
            left: 7%;
            width: 900PX;
            height: 500px !important;
            z-index: 1;
            box-shadow: 0px 5px 5px #f3f3f3;
            border: 2px solid #004b91;
            background-color: #fff;
            background-color: #ffffff !important;
            padding: 10px 20px;
            overflow-x: hidden;
        }

        .vew321 {
            background-color: #fff;
            width: 75%;
            float: right;
            padding: 5px 10px;
            text-align: justify;
            height: 300px;
            overflow-x: auto !important;
            overflow-y: auto !important;
            z-index: 1;
            position: fixed;
            top: 100px;
            left: 20%;
            border: 5px solid #d1d1d1;
        }
		  .HeaderStyle th {
            white-space: nowrap;
        }

        .popupnew2 {
            position: absolute;
            top: 650px;
            left: 7%;
            width: 900PX;
            height: 500px !important;
            z-index: 1;
            box-shadow: 0px 5px 5px #f3f3f3;
            border: 2px solid #004b91;
            background-color: #fff;
            background-color: #ffffff !important;
            padding: 10px 20px;
            overflow-x: hidden;
        }

        .lft {
            float: left;
        }

        .rgt {
            float: right;
        }

        .vew321 {
            background-color: #fff;
            width: 75%;
            float: right;
            padding: 5px 10px;
            text-align: justify;
            height: 300px;
            overflow-x: scroll !important;
            overflow-y: scroll !important;
            z-index: 1;
            position: fixed;
            top: 100px;
            left: 20%;
            border: 5px solid #d1d1d1;
        }
		.ui-datepicker {
           width: 21em !important;
	     }
    </style>


    <div class="content-wrapper">

        <div class="card">
            <div class="card-body">

                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../Dashboard.aspx">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Flight</li>
                  <li class="breadcrumb-item active" aria-current="page">Flight Search Booking Details</li>
                </ol>
              </nav>

                <div class="row">
                    <div class="col-md-3" id="divFromDate" runat="server">
                        <div class="form-group">
                            <%--<label for="exampleInputPassword1">From Date</label>--%>
                            <input type="text" name="From" id="From" placeholder="From Date" class="form-control" readonly="readonly" />
                        </div>
                    </div>

                    <div class="col-md-3" id="divToDate" runat="server">
                        <div class="form-group">
                            <%-- <label for="exampleInputPassword1">To Date</label>--%>
                            <input type="text" name="To" id="To" placeholder="To Date" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <%--<label for="exampleInputPassword1">PNR</label>--%>
                            <asp:TextBox ID="txt_PNR" runat="server" placeholder="Enter PNR" CssClass="form-control"></asp:TextBox>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <%--<label for="exampleInputPassword1">Pax Name</label>--%>

                            <asp:TextBox ID="txt_PaxName" runat="server" placeholder="PAX Name" CssClass="form-control"></asp:TextBox>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <%--    <label for="exampleInputPassword1">Ticket No</label>--%>

                            <asp:TextBox ID="txt_TktNo" placeholder="Ticket No." runat="server" CssClass="form-control"></asp:TextBox>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" id="td_Agency" runat="server">
                            <%-- <label for="exampleInputPassword1">
                                        Agency Name
                                    </label>--%>
                            <input type="text" id="txtAgencyName" placeholder="Agency Name" name="txtAgencyName" class="form-control" onfocus="focusObj(this);"
                                onblur="blurObj(this);" defvalue="Agency Name or ID" autocomplete="off" value="Agency Name or ID" />
                            <input type="hidden" id="hidtxtAgencyName" class="form-control" name="hidtxtAgencyName" value="" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <%-- <label for="exampleInputPassword1">
                                        OrderId
                                    </label>--%>
                            <asp:TextBox ID="txt_OrderId" placeholder="Order ID" runat="server" CssClass="form-control"></asp:TextBox>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <%--<label for="exampleInputPassword1">TransactionId</label>--%>
                            <asp:TextBox ID="txt_TransactionId" placeholder="Transaction ID" runat="server" CssClass="form-control"></asp:TextBox>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <%--<label for="exampleInputPassword1">Status</label>--%>
                            <asp:DropDownList CssClass="form-control" ID="dd_status" runat="server">                               
                                <asp:ListItem Text="ALL" Value="ALL">ALL</asp:ListItem>
                                <asp:ListItem Text="Request" Value="Request"></asp:ListItem>
                                <asp:ListItem Text="Pending" Value="Pending"></asp:ListItem>
                                <asp:ListItem Text="Hold" Value="Confirm"></asp:ListItem>
                                <asp:ListItem Text="HoldByAgent" Value="ConfirmByAgent"></asp:ListItem>
                                <asp:ListItem Text="PreHoldByAgent" Value="PreConfirmByAgent"></asp:ListItem>
                                <asp:ListItem Text="Rejected" Value="Rejected"></asp:ListItem>
                                <asp:ListItem Text="Ticketed" Value="Ticketed"></asp:ListItem>
                                <asp:ListItem Text="Failed" Value="Failed"></asp:ListItem>
                            </asp:DropDownList>
                        </div>
                    </div>
                    <div class="col-md-3" id="divPaymentMode" runat="server">
                        <%-- <label for="exampleInputEmail1">PaymentMode :</label>--%>
                        <asp:DropDownList CssClass="form-control" ID="txtPaymentmode" runat="server">
                            <asp:ListItem>---Select Payment Mode---</asp:ListItem>
                            <asp:ListItem Text="All" Value="All"></asp:ListItem>
                            <asp:ListItem Text="PG" Value="pg"></asp:ListItem>
                            <asp:ListItem Text="Wallet" Value="wallet"></asp:ListItem>
                        </asp:DropDownList>
                    </div>



                    <div class="col-md-3" id="divPartnerName" runat="server">
                        <div class="form-group" id="Partnernameid" runat="server">
                            <%--<label for="exampleInputEmail1">PartnerName :</label>--%>
                            <asp:DropDownList CssClass="form-control" ID="txtPartnerName" runat="server">
                                <asp:ListItem>---Partner Name---</asp:ListItem>
                            </asp:DropDownList>
                        </div>
                    </div>
                    <div class="col-md-3">

                        <div class="form-group">
                            <asp:Button ID="btn_result" runat="server" Text="Search Result" CssClass="btn btn-danger" />
                        </div>
                    </div>
                    <div class="col-md-3">

                        <div class="form-group">
                            <asp:Button ID="btn_export" runat="server" CssClass="btn btn-danger" Text="Export" />
                        </div>
                    </div>
                </div>
                <div class="row" style="display: none;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">
                                Total Ticket Sale :
                            </label>
                            <asp:Label ID="lbl_Total" runat="server"></asp:Label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">
                                Total Records :
                            </label>
                            <asp:Label ID="lbl_counttkt" runat="server"></asp:Label>
                        </div>
                    </div>
                </div>


                <div class="alert_msg info_msg fl">
                    <b class="status_info fl">Note: </b><span class="status_cont">To get Today's booking without above parameter,do not fill any field, only
                            click on Search Result.</span>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                 <asp:UpdatePanel ID="UpdatePanel1" runat="server" style="background-color: #fff; overflow: auto; max-height: 500px;">
                                    <ContentTemplate>
                                        <asp:GridView ID="ticket_grdview" runat="server" AllowPaging="True" AllowSorting="True"
                                            AutoGenerateColumns="False" CssClass="table"
                                            GridLines="None" PageSize="30">
                                <Columns>

                                    <asp:BoundField HeaderText="Status" DataField="Status"></asp:BoundField>
                                    <asp:TemplateField HeaderText="Booking Details">
                                        <ItemTemplate>

                                            <a href='Update_BookingOrder.aspx?OrderId=<%#Eval("OrderId")%> &TransID='
                                                rel="lyteframe" rev="width: 1200px; height: 500px; overflow:hidden;" target="_blank"
                                                style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #004b91">Booking&nbsp;Details
                                            </a>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Booking Date/Time">
                                        <ItemTemplate>

                                            <a href='BookingTime.aspx?OrderId=<%#Eval("OrderId")%> '
                                                rel="lyteframe" rev="width: 1200px; height: 500px; overflow:hidden;" target="_blank"
                                                style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #004b91"><b>
                                                    <asp:Label ID="lblCreateDate_" runat="server" Text='<%#Eval("CreateDate")%>'></asp:Label></b>
                                            </a>


                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Pax&nbsp;Type">
                                        <ItemTemplate>
                                            <asp:Label ID="PaxType" runat="server" Text='<%#Eval("PaxType")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Pax&nbsp;ID">
                                        <ItemTemplate>
                                            <a href='../PnrSummaryIntl.aspx?OrderId=<%#Eval("OrderId")%> &TransID=<%#Eval("PaxId")%>'
                                                rel="lyteframe" rev="width: 900px; height: 500px; overflow:hidden;" target="_blank"
                                                style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #004b91">
                                                <asp:Label ID="TID" runat="server" Text='<%#Eval("PaxId")%>'></asp:Label>(TktDetail)
                                            </a>
                                        </ItemTemplate>
                                    </asp:TemplateField>

                                    <asp:TemplateField HeaderText="TX ID">
                                        <ItemTemplate>
                                            <div class="tag">
                                                <a href='../PnrSummaryIntl.aspx?OrderId=<%#Eval("OrderId")%> &TransID=' rel="lyteframe" class="gridViewToolTip"
                                                    rev="width: 900px; height: 500px; overflow:hidden;" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #004b91">
                                                    <asp:Label ID="Label1" runat="server" Text='<%#Eval("OrderId")%>'></asp:Label></a>
                                                <div id="tooltip" style="display: none;">
                                                    <div style="float: left;">
                                                        <table width="100%" cellpadding="11" cellspacing="11" border="0">
                                                            <tr>
                                                                <td style="width: 110px; font-weight: bold;">Refund_Request:
                                                                </td>
                                                                <td style="width: 166px;">
                                                                    <%#Eval("SubmitDate")%>  
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 110px; font-weight: bold;">Accepted:
                                                                </td>
                                                                <td style="width: 166px;">
                                                                    <%#Eval("AcceptDate")%>  
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width: 110px; font-weight: bold;">Refunded:
                                                                </td>
                                                                <td style="width: 166px;">
                                                                    <%#Eval("UpdateDate")%>  
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="JourneyType">
                                        <ItemTemplate>
                                            <asp:Label ID="JourneyType" runat="server" Text='<%#Eval("JourneyType")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="OB_TX ID">
                                        <ItemTemplate>
                                            <asp:Label ID="ReferenceNo" runat="server" Text='<%#Eval("ReferenceNo")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="AgencyName">
                                        <ItemTemplate>
                                            <asp:Label ID="AgencyName" runat="server" Text='<%#Eval("AgencyName")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="AgencyID">
                                        <ItemTemplate>
                                            <asp:Label ID="lblAgencyID" runat="server" Text='<%#Eval("AgencyId")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="GdsPnr">
                                        <ItemTemplate>
                                            <asp:Label ID="GdsPNR" runat="server" Text='<%#Eval("GdsPnr")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="AirlinePnr">
                                        <ItemTemplate>
                                            <asp:Label ID="AirlinePnr" runat="server" Text='<%#Eval("AirlinePnr")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:BoundField HeaderText="TicketNumber" DataField="TicketNumber"></asp:BoundField>
                                    <asp:BoundField HeaderText="Sector" DataField="sector"></asp:BoundField>
                                    <asp:TemplateField HeaderText="JourneyDate">
                                        <ItemTemplate>
                                            <asp:Label ID="JourneyDate" runat="server" Text='<%#Eval("JourneyDate")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>


                                    <asp:TemplateField HeaderText="Pax Name">
                                        <ItemTemplate>
                                            <asp:Label ID="FN" runat="server" Text='<%#Eval("Fname")%>'></asp:Label>
                                            <asp:Label ID="LN" runat="server" Text='<%#Eval("Lname")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>


                                    <asp:TemplateField HeaderText="Carrier">
                                        <ItemTemplate>
                                            <asp:Label ID="Carrier" runat="server" Text='<%#Eval("VC")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>

                                    <asp:BoundField HeaderText="Sector" DataField="Trip">
                                        <ItemStyle HorizontalAlign="center"></ItemStyle>
                                    </asp:BoundField>
                                    <asp:BoundField HeaderText="Trip Type" DataField="TripType">
                                        <ItemStyle HorizontalAlign="center"></ItemStyle>
                                    </asp:BoundField>

                                    <asp:BoundField HeaderText="BookingAmountGross" DataField="TotalBookingCost">
                                        <ItemStyle HorizontalAlign="center"></ItemStyle>
                                    </asp:BoundField>
                                    <asp:BoundField HeaderText="BookingAmountNet" DataField="TotalAfterDis">
                                        <ItemStyle HorizontalAlign="center"></ItemStyle>
                                    </asp:BoundField>

                                    <asp:BoundField HeaderText="Search ID" DataField="SearchId">
                                        <ItemStyle HorizontalAlign="center"></ItemStyle>
                                    </asp:BoundField>
                                    <asp:BoundField HeaderText="Booking ID" DataField="PNRId">
                                        <ItemStyle HorizontalAlign="center"></ItemStyle>
                                    </asp:BoundField>
                                    <asp:BoundField HeaderText="Ticketing ID" DataField="TicketId">
                                        <ItemStyle HorizontalAlign="center"></ItemStyle>
                                    </asp:BoundField>
                                    <asp:TemplateField HeaderText="Payment Mode">
                                        <ItemTemplate>
                                            <asp:Label ID="lblPaymentMode" runat="server" Text='<%#Eval("PaymentMode")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="PG TRAX ID">
                                        <ItemTemplate>
                                            <asp:Label ID="lblPgTransaId" runat="server" Text='<%#Eval("PGTransactionid")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>

                                    <asp:TemplateField HeaderText="Branch">
                                        <ItemTemplate>
                                            <asp:Label ID="Branch" runat="server" Text='<%#Eval("Branch")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="FareType">
                                        <ItemTemplate>
                                            <asp:Label ID="lblFareType" runat="server" Text='<%#Eval("RESULTTYPE")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="FareRule">
                                        <ItemTemplate>
                                            <span class="fareRuleToolTip">
                                                <img src='<%#ResolveClientUrl("~/Images/air(ex).png")%>' class="cursorpointer" alt="Click to View Full Details" title="Click to View Full Details" style="height: 20px; cursor: pointer;" onclick="fareRuleToolTip('<%#Eval("PaxId") %>')" />
                                            </span>
                                            </div>             
                                                        </div>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Exce ID">
                                        <ItemTemplate>
                                            <asp:Label ID="ExcutiveID" runat="server" Text='<%#Eval("ExecutiveId")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Agency Remark">
                                        <ItemTemplate>
                                            <asp:Label ID="lblAgentRemark" runat="server" Text='<%#Eval("GSTRemark")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>

                                    <asp:TemplateField HeaderText="Staff Remark">
                                        <ItemTemplate>
                                            <asp:Label ID="lblStaffRemark" runat="server" Text='<%#Eval("StaffRemarks")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="AgentType">
                                        <ItemTemplate>
                                            <asp:Label ID="lblAgentType" runat="server" Text='<%#Eval("Agent_Type")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="MasterAgent">
                                        <ItemTemplate>
                                            <asp:Label ID="lblMasterAgent" runat="server" Text='<%#Eval("MasterAgent")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="User&nbsp;ID" Visible="false">
                                        <ItemTemplate>
                                            <asp:Label ID="AgentID" runat="server" Text='<%#Eval("UserID")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="">
                                        <ItemTemplate>
                                            <asp:LinkButton ID="LB_CahngeStatus" runat="server" CommandName="ChangeStatus" CommandArgument='<%#Eval("OrderId")%>' Visible='<%# IsVisible(Eval("Status"))%>'
                                                Font-Bold="True" Font-Underline="False" ForeColor="Red" OnClientClick="javascript:return validate();">Change Status to Hold</asp:LinkButton>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                </Columns>
                                <RowStyle CssClass="RowStyle" />
                                <EmptyDataRowStyle CssClass="EmptyRowStyle" />
                                <PagerStyle CssClass="PagerStyle" />
                                <SelectedRowStyle CssClass="SelectedRowStyle" />
                                <HeaderStyle CssClass="HeaderStyle" />
                                <EditRowStyle CssClass="EditRowStyle" />
                                <AlternatingRowStyle CssClass="AltRowStyle" />
                            </asp:GridView>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </div>
            </div>
        </div>

    </div>



    <div style="text-decoration-line: initial; display: none" id="outerdiv" class="vew321">
        <div onclick="closethis();" title="click to close" style="background: url(../../Images/closebox.png); cursor: pointer; float: right; z-index: 9999; min-height: 30px; min-width: 30px;"></div>
        <div id="ddd"></div>
    </div>

    <script type="text/javascript">
        function validate() {
            if (confirm("Are you sure you want to change status to hold!")) {
                return true;
            } else {
                return false;
            }
        }
        function closethis() {
            $("#outerdiv").hide();
        }

        $(function () {
            InitializeToolTip();
        });
    </script>
    <script type="text/javascript">
        var UrlBase = '<%=ResolveUrl("~/") %>';
    </script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/jquery-ui-1.8.8.custom.min.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/AgencySearch.js") %>"></script>
</asp:Content>

