﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterAfterLogin.master" AutoEventWireup="false"
    CodeFile="ProcessImportPnr.aspx.vb" Inherits="Reports_Import_ProcessImportPnr" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <%--<link href="../../CSS/style.css" rel="stylesheet" type="text/css" />
    <link href="../../css/main2.css" rel="stylesheet" type="text/css" />--%>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-12">
            <div class="page-wrapperss">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Domestic PNR Import processing detail</h3>
                    </div>
                    <div class="panel-body">
    <table cellspacing="5" cellpadding="0" border="0"  class="tbltbl"  width="100%">
                    
                    <tr>
                        
                        <td>
                            <table width="100%">
                              <%--  <tr>
                                    <td align="center" height="50px" class="Heading" style="font-size: 25px; color: #004b91;
                                        font-family: arial, Helvetica, sans-serif; font-weight: bold;">
                                        Domestic PNR Import processing detail
                                    </td>
                                </tr>--%>
                                <tr>
                                    <td id="td_RejectRmk" runat="server" align="right" visible="false" colspan="2" style="padding: 10px;
                                        border: thin solid #999999;">
                                         <asp:TextBox  ID="txt_RejectRmk" runat="server" 
                                             TextMode="MultiLine" Height="60px"
                                            Width="350px" BackColor="#FFFFCC" MaxLength="500"></asp:TextBox><br />
                                        <br />
                                        <asp:Button ID="Button1" runat="server" Text="Submit Remark" />
                                        <%--<asp:Button ID="btn_Comment" runat="server" Text="Submit Comment" OnClientClick="return ValidateReject()" />--%>&nbsp;&nbsp;
                                        <asp:Button ID="Button2" runat="server" Text="Cancle" />
                                    </td>
                                </tr>
                                <tr>
                                    <td id="td_AgentRmk" runat="server" align="right" visible="false" colspan="2" style="padding: 10px;
                                        border: thin solid #999999;">
                                         <asp:TextBox  ID="txt_AgentRmk" runat="server" 
                                             TextMode="MultiLine" Height="60px"
                                            Width="350px" BackColor="#FFFFCC" MaxLength="500"></asp:TextBox><br />
                                        <br />
                                        <asp:Button ID="btn_AgentRmk" runat="server" Text="Submit Remark" />
                                        <%--<asp:Button ID="btn_Comment" runat="server" Text="Submit Comment" OnClientClick="return ValidateReject()" />--%>&nbsp;&nbsp;
                                        <asp:Button ID="btn_cancel" runat="server" Text="Cancle" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <asp:GridView ShowHeaderWhenEmpty="True" EmptyDataText="No records Found" ID="GridImportProxyDetail" runat="server" AutoGenerateColumns="False"
                                            Width="100%" CssClass="table" AllowPaging="True" PageSize="30">
                                            <Columns>
                                                <asp:TemplateField HeaderText="">
                                                    <ItemTemplate>
                                                        <a id="ancher" runat="server" rel="lyteframe" rev="width: 800px; height: 300px; overflow:hidden;"
                                                            style="font-family: arial, Helvetica, sans-serif; font-size: 12px; color: #800000;
                                                            font-weight: bold;"></a>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="">
                                                    <ItemTemplate>
                                                        <a id="ancherupdate" runat="server" style="font-family: arial, Helvetica, sans-serif;
                                                            font-size: 12px; color: #800000; font-weight: bold;"></a>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="OrderId">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lbl_OrderId" runat="server"></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="PNR">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lbl_PnrNo" runat="server"></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="AgentID">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lbl_AgentID" runat="server"></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Ag_Name">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lbl_Ag_Name" runat="server"></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Sector">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lbl_Depart" runat="server"></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Departure Date">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lbl_DDate" runat="server"></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Status">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lbl_Status" runat="server"></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                
                                                <asp:TemplateField HeaderText="Agent&nbsp;Type">
                                            <ItemTemplate>
                                                <asp:Label ID="lbl_agenttype" runat="server" ></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        
                                        
                                           <asp:TemplateField HeaderText="Sales&nbsp;Executive">
                                            <ItemTemplate>
                                                <asp:Label ID="lbl_SalesExecId" runat="server" ></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                                
                                                <asp:TemplateField HeaderText="SubmitDate">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lbl_SDate" runat="server"></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="AcceptedDate">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lbl_AcceptedDate" runat="server"></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="">
                                                    <ItemTemplate>
                                                        <asp:LinkButton ID="ITZ_Reject"  runat="server" CommandName="Reject" CommandArgument='<%#Eval("OrderId") %>'
                                                            Font-Bold="True" Font-Underline="False">Reject</asp:LinkButton>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Agent Remark">
                                                    <ItemTemplate>
                                                        <asp:LinkButton ID="ITZ_AgentRmk" runat="server" CommandName="AgentRemark" CommandArgument='<%#Eval("OrderId") %>'
                                                            Font-Bold="True" Font-Underline="False"><img src="../../images/Rmk.jpg"  border="0" /></asp:LinkButton>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                            </Columns>
                                            <RowStyle CssClass="RowStyle" />
                                            <EmptyDataRowStyle CssClass="EmptyRowStyle" />
                                            <PagerStyle CssClass="PagerStyle" />
                                            <SelectedRowStyle CssClass="SelectedRowStyle" />
                                            <HeaderStyle CssClass="HeaderStyle" />
                                            <EditRowStyle CssClass="EditRowStyle" />
                                            <AlternatingRowStyle CssClass="AltRowStyle" />
                                             <EmptyDataTemplate><div style="color:red;font-weight: bolder;padding-top: 12px;font-size: 20px;">No Record Available</div></EmptyDataTemplate>
                                        </asp:GridView>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        
                    </tr>
                    
                </table>
              </div>
               </div>
                 </div>
             </div>
           </div>
</asp:Content>
