﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="LoginControl1.ascx.cs" Inherits="UserControl_LoginControl1" %>

<%--<link href='<%= ResolveClientUrl("~/newcss/style.css")  %>' rel="stylesheet" />--%>

<hgroup>
 <%--   <div class="row">
          <div class="large-14 medium-12 text-center ">
              <img src="<%= ResolveUrl("../images/logo-new.png") %>" alt="Logo" border="0" style="width:55%"/>
            </div>
            
        </div>
  --%>
 
</hgroup>

   <%-- <div class="group">
        <asp:TextBox ID="UserName" runat="server"></asp:TextBox><span class="highlight"></span><span class="bar"></span>
        <label>User Id</label>
    </div>--%>
    <%--<div class="group">
        <asp:TextBox ID="Password" runat="server" TextMode="Password"></asp:TextBox><span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
    </div>--%>
<%--     <asp:Button ID="LoginButton" runat="server"  OnClick="LoginButton_Click" CssClass="button buttonBlue"
                    Text="Login Here" />--%>



        <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
          <div class="row flex-grow">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
              <div class="auth-form-transparent text-left p-3">
                <div class="brand-logo">
                  <img src="../images/logo-new.png" alt="logo">
                </div>
                <h4>Welcome back!</h4>
                <h6 class="font-weight-light">Happy to see you again!</h6>
                <form class="pt-3">
                  <div class="form-group">
                    <label for="exampleInputEmail">Username</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                      </div>
                      <%--<input type="text" class="form-control form-control-lg border-left-0" id="" placeholder="Username">--%>
                        <asp:TextBox ID="UserName" class="form-control form-control-lg border-left-0" placeholder="Username" runat="server"></asp:TextBox>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                      </div>
<%--                      <input type="password" class="form-control form-control-lg border-left-0" id="exampleInputPassword" placeholder="Password">--%>
                        <asp:TextBox ID="Password" runat="server" class="form-control form-control-lg border-left-0" placeholder="Password"  TextMode="Password"></asp:TextBox>

                    </div>
                  </div>
               <%--   <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input"> Keep me signed in </label>
                    </div>
                    <a href="#" class="auth-link text-black">Forgot password?</a>
                  </div>--%>
                  <div class="my-3">
<%--                    <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="../../index-2.html">LOGIN</a>--%>
                      <asp:Button ID="LoginButton" runat="server"  OnClick="LoginButton_Click" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"
                    Text="Login Here" />
                  </div>
                
                
                </form>
              </div>
            </div>
            <div class="col-lg-6 login-half-bg d-flex flex-row">
              <p class="text-white font-weight-medium text-center flex-grow align-self-end">Powered by Sanjeet Kunal</p>
            </div>
          </div>
        </div>
        
      </div>
   
    </div>





  
    <asp:Label ID="LblIPAddress" runat="server" style="display:none;" />
     <asp:Label ID="HTTP_X_FORWARDED_FOR" runat="server" style="display:none;" />
     <asp:Label ID="REMOTE_ADDR" runat="server" style="display:none;" />
    <asp:Label ID="UserLocalHost" runat="server" style="display:none;" />


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/index.js"></script>


